<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [77]:
from sqlalchemy import create_engine
import pandas as pd
import glob

In [204]:
for filepath in glob.glob(r'C:\Users\aly98\Desktop\Power BI\Projects\HR\Data/*'):
    print(rf"{filepath}")
    name = filepath.split(sep='\\',maxsplit=-1)[-1].split('.')[0]
    data_format = filepath.split(sep='\\',maxsplit=-1)[-1].split('.')[1]
    print(name)
    print(data_format)

C:\Users\aly98\Desktop\Power BI\Projects\HR\Data\company_dim2.xlsx
company_dim2
xlsx
C:\Users\aly98\Desktop\Power BI\Projects\HR\Data\job_postings1.xlsx
job_postings1
xlsx
C:\Users\aly98\Desktop\Power BI\Projects\HR\Data\job_postings_fact2.csv
job_postings_fact2
csv
C:\Users\aly98\Desktop\Power BI\Projects\HR\Data\job_skills1.xlsx
job_skills1
xlsx
C:\Users\aly98\Desktop\Power BI\Projects\HR\Data\job_summary1.xlsx
job_summary1
xlsx
C:\Users\aly98\Desktop\Power BI\Projects\HR\Data\postings3.xlsx
postings3
xlsx
C:\Users\aly98\Desktop\Power BI\Projects\HR\Data\skills_dim2.xlsx
skills_dim2
xlsx
C:\Users\aly98\Desktop\Power BI\Projects\HR\Data\skills_job_dim2.xlsx
skills_job_dim2
xlsx

In [81]:
# Load data

# create connection with destination database
# read data file path
# extract the name of table and data format
# load it into database with same data table name

engine = create_engine('mysql+pymysql://root:1234@localhost/bidb')

for filepath in glob.glob(r'C:\Users\aly98\Desktop\Power BI\Projects\HR\Data/*'):
    table_name = filepath.split(sep='\\',maxsplit=-1)[-1].split('.')[0]
    data_format = filepath.split(sep='\\',maxsplit=-1)[-1].split('.')[1]
        
    if data_format == 'xlsx':
        df = pd.read_excel(filepath)
    elif data_format == 'csv':
        df  = pd.read_csv(filepath)
    else:
        df = pd.read_json(filepath)
    
    df.to_sql(name = table_name, con=engine, if_exists='replace', index=False, chunksize=10000, method='multi')
    print(f'{table_name} table loaded')

company_dim2 table loaded
job_postings1 table loaded
job_postings_fact2 table loaded
job_skills1 table loaded
job_summary1 table loaded
postings3 table loaded
skills_dim2 table loaded
skills_job_dim2 table loaded

In [205]:
# Transform source 2 data

from sqlalchemy import create_engine
import pandas as pd

# Connect to the database
engine = create_engine('mysql+pymysql://root:1234@localhost/bidb')

# Read data from MySQL tables
company = pd.read_sql("SELECT * FROM company_dim2", con=engine)
job_post = pd.read_sql("SELECT * FROM job_postings_fact2", con=engine)
skill = pd.read_sql("SELECT * FROM skills_dim2", con=engine)
skill_job = pd.read_sql("SELECT * FROM skills_job_dim2", con=engine)

# Fix job_skills column values
df = skill_job.merge(skill, on='skill_id',how='left')
skills_table = df.groupby('job_id')['skills'].agg(','.join).reset_index()

# Join job_postings_fact2 with company_dim2 for company name column
job_post = job_post.merge(company, on='company_id', how='left')

# Join job_skills column in correct form to job_postings_fact2
job_post = job_post.merge(skills_table, on='job_id', how='left')

# Remove unnecessary columns
job_post.drop(columns=['job_via', 'search_location', 'job_no_degree_mention', 'job_health_insurance', 'salary_rate', 'salary_year_avg',
                      'salary_hour_avg', 'link', 'link_google', 'thumbnail', 'company_id'], inplace=True)

# Renamed columns based on schema defined
job_post.rename(columns={'job_title_short': 'Job_field',
                         'job_title': 'Job_title',
                         'job_schedule_type': 'Job_employment_type',
                         'job_work_from_home': 'Job_type',
                         'job_posted_date': 'Job_posting_date',
                         'job_country':'Country',
                         'name':'Company_name',
                         'skills': 'Job_skills',
                         'job_id': 'Job_id'}, inplace=True)

job_post

In [206]:
job_post.sample(10)

,Job_id,Job_field,Job_title,job_location,Job_employment_type,Job_type,Job_posting_date,Country,Company_name,Job_skills
374679,715626,Data Engineer,Head of Data Engineering,United Kingdom,Full-time,0,2023-11-16 00:16:35,United Kingdom,Oldbury Search & Selection Ltd,"sql,python,azure,databricks,spark,jupyter,ssis"
143061,79807,Machine Learning Engineer,Senior Machine Learning Engineer,Finland,Full-time,0,2023-06-26 16:51:46,Finland,Storm5,"python,java,scala,bigquery,snowflake,spark,kafka,airflow,kubernetes"
82526,1700564,Business Analyst,Commercial Insights Analyst (m/f/d),"Sremska Mitrovica, Serbia",Full-time,0,2023-05-03 10:01:55,Serbia,Eaton,excel
273374,504067,Data Engineer,Data Engineer,"Charlotte, NC",Full-time,0,2023-12-24 07:06:57,United States,Irvine Technology Corporation,"sql,python,r,azure,pyspark,kafka,scikit-learn,keras,git"
418680,697110,Data Scientist,Data Science Intern for Supply Chain,France,Full-time,0,2023-01-16 23:50:53,France,Honeywell International,"r,python,sql,matlab,power bi"
275539,562266,Software Engineer,Informatica-engineer,"Hilversum, Netherlands",Full-time,0,2023-11-01 07:36:21,Netherlands,Werving op Maat,"python,r,azure,power bi"
92376,408751,Data Analyst,Collections Analytics Manager,"Carrollton, TX",Full-time,0,2023-09-15 21:01:28,United States,TMX Finance Family of Companies,"sql,r,python,spark,excel,flow"
361385,223724,Data Engineer,Data Engineer,"Manchester, UK",Full-time,0,2023-12-18 00:13:01,United Kingdom,Confidential,"nosql,gcp,oracle"
758998,1248082,Data Scientist,Data Scientist,"Stanford, CA",None,0,2023-07-12 02:06:28,United States,Stanford University,"r,sql,sas,sas,python"
27192,983304,Senior Data Analyst,Senior Data Analyst (Tableau Zen Master),Anywhere,Full-time,1,2023-05-15 17:51:43,Canada,Relogix,"sql,python,javascript,azure,databricks,tableau"